[submodule "site/themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo.git
[submodule "site/content/cronica"]
	path = content/cronica
	url = https://github.com/habitanteorg/seccion_cronica
[submodule "site/content/ciencia"]
	path = content/ciencia
	url = https://github.com/habitanteorg/seccion_ciencia
[submodule "site/content/comenta"]
	path = content/comenta
	url = https://github.com/habitanteorg/seccion_comenta
